/* Global */

* { font-smooth: always; }
.main-logo img { width: 80px; height: auto; }
.mob-only { display: none; }
.centered { text-align: center; }
section { margin: 88px 0; }

@font-face { font-family: 'vitorcc';
  src:  url('../icons/vitorcc.eot?kitt9g');
  src:  url('../icons/vitorcc.eot?kitt9g#iefix') format('embedded-opentype'),
    url('../icons/vitorcc.ttf?kitt9g') format('truetype'),
    url('../icons/vitorcc.woff?kitt9g') format('woff'),
    url('../icons/vitorcc.svg?kitt9g#vitorcc') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'vitorcc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dribbble:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e902";
}
.icon-arrow:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-mail:before {
  content: "\e905";
}
.icon-messenger:before {
  content: "\e906";
}
.icon-linkedin:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}

/* Headings & Font */

body { font-family: 'Open Sans', sans-serif; font-weight: 400; }
h1 { font-size: 120px; color: #262F3A; line-height: 163px; }
h3 { font-size: 72px; color: #262F3A; }
p { font-size: 28px; color: rgba(38,47,58,0.64); line-height: 64px; margin: 24px 0; }
span { font-size: 28px; color: rgba(38,47,58,0.64); line-height: 56px; display: block; }
b { font-weight: 600; }
.compact-heading { font-size: 32px; color: #262F3A; }
.compact-p { font-size: 18px; color: rgba(38,47,58,0.64); line-height: 24px; }

/* Actionables */

.link { font-weight: 600; color: rgba(38,47,58,0.64);  }
.inline-link { font-size: 32px; line-height: 64px; }
.neutral-link { font-size: 16px; line-height: 24px; }
.social-link-item { color: rgba(38,47,58,0.64); font-size: 32px; padding: 24px; }
.landing .nav-link { font-size: 16px; }
.project-links a { display: block; line-height: 40px; margin-bottom: 16px; }

.mob-menu { color: rgba(38,47,58,0.64); font-size: 24px; }

/* Nav */

header { width: 100%; background: #FFF; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.08); line-height: 72px; position: fixed; z-index: 15; }
header.landing { box-shadow: none; position: relative; }
.footer-nav, footer { margin-bottom: 88px; }
.footer-nav li { display: block; line-height: 104px; margin: 24px 0; }
.footer-nav span { font-size: 18px; color: #262F3A; line-height: 56px; display: inline-block; margin-left: 24px; }
.footer-nav-item { width: 400px; text-align: right; background-color: #F6F8F9; padding: 24px 32px; font-weight: 600; font-size: 24px; color: rgba(38,47,58,0.64); line-height: 104px;}
footer .social-links a { margin: 0 88px 0 0; }

/* Content */

.featured-line { background-color: #504DE3; height: 6px; width: 100%; border-radius: 60px; margin-bottom: 32px; }
.project-info-id { margin-bottom: 56px; }


/* Animations */

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

.come-out {
  transform: translateY(-150px);
  animation: come-in 0.8s ease forwards;
}
.come-out:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-out {
  to { transform: translateY(0); }
}
