/* Global */

* { font-smooth: always; }
html { scroll-behavior: smooth; }
body { background-color: #000; font-family: 'Open Sans', sans-serif; overflow: hidden; }

@font-face {
  font-family: 'vitorcc';
  src:  url('../icons/vitorcc.eot?fbfl07');
  src:  url('../icons/vitorcc.eot?fbfl07#iefix') format('embedded-opentype'),
    url('../icons/vitorcc.ttf?fbfl07') format('truetype'),
    url('../icons/vitorcc.woff?fbfl07') format('woff'),
    url('../icons/vitorcc.svg?fbfl07#vitorcc') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vitorcc' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-external:before {
  content: "\e900";
}
.icon-dribbble:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e903";
}
.icon-arrow:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-messenger:before {
  content: "\e907";
}
.icon-linkedin:before {
  content: "\e908";
}
.icon-instagram:before {
  content: "\e909";
}

/* Structure */

.row.align-items-center { height: 100vh; }
a { text-decoration: none !important; transition: all .1s ease-in; }

/* Header */

header { position: absolute; top: 0; width: 100%; line-height: 40px; z-index: 9; padding: 32px 5%; }
.main-logo img { width: 64px; height: auto; margin-right: 24px; vertical-align: middle; }

/* Hero */

h1 { font-family: barricada-pro, serif; font-size: 68px; color: #FFFFFF; letter-spacing: 4.25px; }
.tagline { font-size: 18px; color: rgba(255,255,255,0.72); letter-spacing: 0; text-align: center; vertical-align: middle; }
#bg-video { position: relative; right: 0; bottom: 0; min-width: 100%; height: 100vh; }
#bg-video-mob { display: none; }
.main-hero { position: fixed; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100vh; padding: 20px; }
.hero-content p { font-size: 18px; color: #FFFFFF; letter-spacing: 0; max-width: 640px; margin: 32px 0; }
.client-section { padding: 0 0 32px; }

/* Actionables */

.client-section a { margin-right: 16px; font-weight: 400; font-size: 18px; color: rgba(255,255,255,0.43); letter-spacing: .3px; }
.social-grid a { font-size: 32px; color: rgba(255,255,255,0.7); margin-right: 32px; }
a:hover { color: rgba(255, 255, 255, 1); }

/* Footer */

footer { width: 100%; background: transparent; text-align: center; position: fixed; bottom: 0; line-height: 24px; z-index: 9; padding: 32px 5%; }
.signature { display: block; font-size: 14px; color: rgba(255,255,255,0.58); letter-spacing: 0; }
.microcopy { font-size: 12px; color: rgba(255,255,255,0.38); letter-spacing: 0; }

/* Animation */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@supports (-webkit-overflow-scrolling: touch) {
  body { height: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; }
}


/* Media Queries */

@media screen and (max-width: 800px) {

  body { overflow-y: auto; }

  .row.align-items-center { height: auto; }

  header { position: relative; }
  .main-logo img { width: 56px; height: auto; }

  h1 { font-size: 40px; }
  #bg-video { display: none; }
  #bg-video-mob { display: block; top: 0; position: fixed; }
  video { margin: 0; padding: 0; object-fit: fill; }

  .main-hero { position: relative; height: auto; }
  .main-hero p { width: 100%; max-width: auto; }

  .client-section { display: flex; flex-wrap: wrap; }
  .client-section a { font-size: 22px; margin: 0; padding: 16px 0; width: 50%; }
  .social-grid { text-align: center; }
  .social-grid a { display: block; font-size: 60px; margin: 48px auto; }

  footer { position: relative; text-align: center; }

}
