// Global

//Imports & Global Styles

@import "node_modules/bootstrap/scss/bootstrap-reboot";
@import "node_modules/bootstrap/scss/bootstrap-grid";


html { 
    scroll-behavior: smooth;
   }

body { 
    font-family: 'Source Sans Pro', sans-serif;
  }

header {
    padding: 32px 0;
  }
  
  .pixel {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  
  @font-face {
    font-family: 'vitorcc';
    src:  url('../icons/vitorcc.eot?fbfl07');
    src:  url('../icons/vitorcc.eot?fbfl07#iefix') format('embedded-opentype'),
      url('../icons/vitorcc.ttf?fbfl07') format('truetype'),
      url('../icons/vitorcc.woff?fbfl07') format('woff'),
      url('../icons/vitorcc.svg?fbfl07#vitorcc') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'vitorcc' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .right .db-btn {
    float: right;
  }
  
  .icon-external:before {
    content: "\e900";
  }
  .icon-dribbble:before {
    content: "\e901";
  }
  .icon-facebook:before {
    content: "\e902";
  }
  .icon-menu:before {
    content: "\e903";
  }
  .icon-arrow:before {
    content: "\e904";
  }
  .icon-close:before {
    content: "\e905";
  }
  .icon-mail:before {
    content: "\e906";
  }
  .icon-messenger:before {
    content: "\e907";
  }
  .icon-linkedin:before {
    content: "\e908";
  }
  .icon-instagram:before {
    content: "\e909";
  }
  
  /* Text Styles */
  
  .heading {
    font-size: 40px;
    line-height: 56px;
  }
  
  .caption {
    font-size: 20px;
    line-height: 36px;
  }
  
  .microcopy {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0,0,0,0.24);
  }
  
  .actual-work {
    font-size: 24px;
    line-height: 32px;
    & .primary-link {
        font-weight: 600;
      }
  }
  
  .centered {
    text-align: center;
  }
  
  .dark {
    color: #000;
  }
  
  .subtle {
    color: rgba(0,0,0,0.56);
  }
  
  .w-bd, b {
    font-weight: 600;
  }
  
  .w-md {
    font-weight: 400;
  }
  
  .w-lg {
    font-weight: 300;
  }

  /* Actionables */
  
  a { 
    text-decoration: none !important; 
    transition: all .1s ease-in; 
  }
  
  .btn {
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    font-size: 24px;
    text-align: center;
    &:hover {
        box-shadow: 0 20px 60px 0 rgba(0,0,0,0.25);
      }

    &.primary-btn {
        color: #FFF;
        background: rgba(255,17,36,1);
        &:hover {
            background-color: rgba(215,12,28,1);
            color: #FFF;
          }
      }
      &.neutral-btn {
        background: rgba(255,255,255,1);
        color: rgba(0,0,0,1);
        &:hover {
            background-color: rgba(255,17,36,0.10);
            color: rgba(255,17,36,1);
          }
      }
  }
  
  .db-btn {
      padding: 16px;
      border-radius: 60px;
      font-size: 16px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
      color: rgba(0,0,0,1);
      background-color: #FFF;

      & i {
        margin-right: 8px;
        vertical-align: middle;
        position: relative;
        top: -2px;
        color: rgba(255,17,36,.5);
      }
      &:hover {
        background: rgba(255,17,36,0.10);
        color: rgba(255,17,36,1);
        box-shadow: 0 20px 60px 0 rgba(0,0,0,0.25);
        & i {
            color: rgba(255,17,36,1);
          }
      }
    }
  
  .primary-link {
    font-weight: 400;
    color: #000;
    &:hover {
        color: #FF1124;
      }
  }

/* Structure */
  
  .divisor-line {
    width: 40%;
    height: 6px;
    background: #FF1124;
    border-radius: 60px;
    margin: 32px 0;
  }
  
  .avatar {
    padding: 32px 0 0;
    display: block;
    width: 100%;
    margin-bottom: -20%;
    & img {
        max-width: 200px;
      }
  } 
  
  footer {
    position: relative;
    z-index: 2;
    & .footer-casket {
        background: #FFFFFF;
        box-shadow: 0 -13px 30px 0 rgba(0,0,0,0.09);
        border-radius: 11px 11px 0 0;
      }
  }
  
  .actual-work-holder {
    text-align: center;
    padding: 24px;
  }
  
  .action-holder {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 16px;
    & .btn {
        margin: 8px 0;
        width: 100%;
      }
  }
  
  .social-grid {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    & .social-link {
        color: rgba(0,0,0,0.39);
        font-size: 28px;
        padding: 8px;
        &:hover {
            color: #FF1124;
          }
      }
  }
  
  
  .signature {
    text-align: center;
    & span {
        display: block;
        margin: 16px;
     }
  }

  .arrow-trigger {
    display: none;
  }
  
  /* Animations */
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  
  @supports (-webkit-overflow-scrolling: touch) {
    body { 
      height: 100%; 
      overflow-y: scroll; 
      -webkit-overflow-scrolling: touch; 
    }
  }
  
  /* Media Queries - Tablet */
  
  @media screen and (min-width: 768px) {
  
    .db-btn {
      border-radius: 4px;
    }
  
  
    .microcopy {
      font-size: 14px;
    }
  
    .footer-casket {
      padding: 8px 0 32px;
      & .actual-work-holder {
        text-align: left;
        padding: 24px 0 16px;
        & .actual-work {
          font-size: 20px;
          line-height: 26px;
        }
      }
    }
  
    .signature {
      text-align: right;
      & span {
        margin: 0;
      }
    }
  
    .btn {
      padding: 16px;
      border-radius: 4px;
      font-size: 16px;
    }
  
    .avatar {
        & img {
            max-width: 100%;
            width: 100%;
        }
    }
  
    .adjust-row {
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      justify-content: space-around;

      & .col-md-8 {
        display: flex;
        justify-content: stretch;
      }
    }
  
    .action-holder {
      flex-direction: row;
      max-width: auto;
      min-width: 60%;
      width: auto;
      margin: 0;

      & .btn:first-child {
        margin-right: 8px;
      }
    }
  
    .social-grid {
      width: 100%;
      margin: 0;
      & .social-link {
        font-size:18px;
      }
    }

  }

/* Media Queries - Desktop */
  
  @media screen and (min-width: 992px) { 
  
  .arrow-trigger {
    display: block;
  }
  
  }

  /* Media Queries - Desktop Wider */
  
  @media screen and (min-width: 1000px) { 
    .heading {
      font-size: 48px;
      line-height: 64px;
    }
  }

  /* Media Queries - Desktop Full */
  
  @media screen and (min-width: 1200px) { 
    .heading {
      font-size: 52px;
      line-height: 64px;
    }
    .avatar {
      margin-bottom: -40%;
    }
  
    .footer-casket {
      min-height: 400px;
    }
  
  }
